* {
  margin: 0;
  padding: 0;
}

.home-container {
  position: relative;
  height: 1080px; /* Fixed height */
  width: 1920px; 
  background-color: white;
  border:none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 1080px; 
  width: 1920px; 
  z-index: -6;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 1080px; /* Match fixed container height */
  width: 1920px; /* Match fixed container width */
  z-index: 2;
  pointer-events: none;
}

.image-background {
  position: absolute;
  top: 350px; 
  left: 180px; 
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.9;
}

.text-content {
  position: absolute;
  top: 200px; 
  right: 400px; 
  z-index: 4;
  font-weight: 100px;
}

.animation {
  font-weight: bold;
  color: rgb(0, 255, 153);
  animation: colorChange 6s infinite ease-in-out;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

.slim-text {
  font-family: 'Freestyle Script', cursive;
  font-weight: 100;
  font-size: 70px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  top: 200px;
  margin-left: 20px;
}

.name-container {
  display: flex;
  align-items: center;
}

.name {
  font-family: 'Freestyle Script', cursive;
  font-weight: 100;
  font-size: 70px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-right: 10px;
}

.intorcontent {
  position: absolute;
  font-family: 'Freestyle Script', cursive;
  top: 60%;
  left: 30%;
  width: 52.08%;
  color: rgba(0, 0, 0, 0.863);
  font-size: 15px;
  z-index: 3;
}

.DownloadResumeButton {
  position: absolute;
  top: 590px;
  left: 600px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  background-color: rgba(204, 229, 219, 0.123);
  border: none;
  width: 300px;
  z-index: 3;
}

.DownloadResumeButton:hover {
  border: 2px solid rgb(34, 220, 161);
}

.footercssdown {
  position: absolute;
  top: 1000px;
  left: 0;
  width: 100%;
}

@keyframes colorChange {
  0% {
    color: rgb(0, 255, 174);
  }
  33% {
    color: rgb(0, 255, 179);
  }
  66% {
    color: rgb(27, 221, 251);
  }
  100% {
    color: rgb(1, 255, 200);
  }
}
