* {
  margin: 0;
  padding: 0;
}

.home-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -6;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.image-background {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  z-index: 3;
  opacity: 0.9;
}

.text-content {
  position: absolute;
  top: 25%;
  right: 30%;
  transform: translateY(-2%);
  z-index: 4;
  font-weight: 100;
}
.animation{
  font-weight: bold;
  color: rgb(0, 255, 153);
  animation: colorChange 6s infinite ease-in-out;
}
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

.slim-text {
  font-family: 'Freestyle Script', cursive;
  font-weight: 100;
  font-size: 100px;
  color: #333;
  line-height: 1.2;
  text-align: center;
}

.name-container {
  display: flex;
  align-items: center;
  
}

.name {
  font-family: 'Freestyle Script', cursive;
  font-weight: 100;
  font-size: 100px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-right: 10px; 
}

.intorcontent{
  position: absolute;
  font-family: 'Freestyle Script', cursive;
  margin-top: 450px;
  z-index: 3;
  margin-left:390px;
  margin-right: 200px;
  color: rgba(0, 0, 0, 0.863);
  font-size: 35px;

}
.DownloadResumeButton
{
  position: absolute;
  height: 50px;
  font-size: 20px;
  margin-top: 570px;
  border-radius: 50px;
  background-color: rgba(204, 229, 219, 0.123);
  left:800px;
  border: none;
  width:15%;
}
.DownloadResumeButton:hover{
  position: absolute;
  border: 2px solid rgb(34, 220, 161);
  
}

@keyframes colorChange {
  0% {
    color: rgb(0, 255, 174);
  }
  33% {
    color: rgb(0, 255, 179);
  }
  66% {
    color: rgb(27, 221, 251);
  }
  100% {
    color: rgb(1, 255, 200);
  }
}
